{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Administration' %}

{% block main %}
    <style>
        p { max-width: 600px; }
    </style>


    <p>
        Bienvenue sur l'administration de FiftyAgency.
        <br>
        <br>
        Celle-ci a été réalisé par Nathan I. avec EasyAdmin Bundle.
        <br>
        <br>
        <br>
        
        
    </p>

    <pre>
    </pre>
{% endblock %}
